#button
{
	-fx-background-color: #0000AD;
	-fx-text-fill: #FFF;
}

.background
{
    -fx-background-image: url("../icons/bg2.png");
    -fx-background-color: #eee;
    -fx-background-repeat: stretch;
    -fx-background-position: bottom right;
}
#product
{
	-fx-border-width: 0.0 0.0 1.0 0.0;
	-fx-border-color: black;
	-fx-font: 20.0px Tahoma;
}